h1 {
  font-weight: Bold;
  color: darkgreen;
  text-align: center;
}

.titulo {
  color: red;
  text-align: center;
}
ion-content {
  text-align: center;
}
.email {
  text-decoration: none;
}
.img-principal {
  border-radius: 30%;
}
